<h3>Veuillez rentrer les coordonnées:</h3></br>

<form action="/" method = "post">
	<input type="hidden" name="authenticity_token">
	<label class = "label" >Latitude</label>
	<input type="text" class = "input" id = "latitude" value = "" />
	<label class = "label">Longitude</label>
	<input type="text" class = "input" id = "longitude" value = "" />
	<label class = "label">Message</label>
	<input type="text" class = "input" id = "message" value = "💜" />
	<button type="button" class="btn btn-danger btn-md" onclick="initMap()">Voir </button>
</form>



<h3>My Google Maps Demo</h3>
<div id="map"></div>


    
 

